body{
    background-color: #0b0c2a;
    color: white;
}
#img img{
    width: 30vw;
    height: 30vh;
    padding: 12px;
}
#about{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
p{
    font-weight: 800;
}
#desc{
    padding: 20px;
}
#desc p{
    text-align: justify;
}
a img{
    padding-left: 50%;
}
a h3{
    padding-left: 50%;
    text-decoration: none;
    color: white;
}